<% name.each do |contestant| %>
  <div id="contestant-<%= contestant.id %>">
  <p><%= link_to "#{contestant.name}", contestant_path(contestant.id) %></p>
  <p><%= contestant.age %></p>
  <p><%= contestant.hometown %></p>
<% end %>
