<h1> <%= @bachelorette.name %> </h1>
<h3> <%= @bachelorette.season_number %> - The Most Dramatic Season Yet! </h3>
<h3>Average Age of Contestants: <%= @bachelorette.average_contestant_age.round(1) %> </h3>
